@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("assets/fonts/MyriadPro/MyriadPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #666d89;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}
/* Start Section contacts */
.contacts {
  height: 648px;
  background-color: #f06c64;
  padding: 0 40px;
  color: #ffffff;
}

.contacts__header {
  margin: 0;
  padding-top: 60px;
  font-size: 3rem;
  font-weight: 900;
}

.contacts__description {
  margin: 21px 0 46px 0;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.6;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__form {
  display: flex;
  flex-wrap: wrap;
  width: 619px;
}

.contacts__form-field {
  width: 100%;
  height: 38px;

  padding: 0;
  margin-top: -0.3px;
  margin-bottom: 16px;

  background-color: #D6564F;
  color: #fff;
  font-size: 1.4rem;

  border: 0;
  border-radius: 5px;

  line-height: 0.7;
  letter-spacing: 0.3px;
  word-spacing: -1.9px;
}

.contacts__form-field:last-child {
  min-height: 202px;
  margin-bottom: 0;
  padding: 0;
  resize: none;
}

.contacts__form-field::placeholder {
  vertical-align: center;
  text-align: justify;

  padding-top: 14px;
  padding-left: 14px;
  color: #f48c8f;

  font-size: 1.2rem;
  font-weight: 400;
}

.information__wrapper {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.information__header {
  font-size: 1.8rem;
  font-weight: 900;
  margin: -1px 0 0 0;
  letter-spacing: -0.1px;
}

.information__text {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 9.9px;
  line-height: 1.8;
  word-spacing: -0.3px;
}

.information__text-location {
  background-image: url("assets/img/icons/location.png");
  background-position: 4px 5px;
  margin-top: 23px;
}

.information__text-phone {
  background-image: url("assets/img/icons/phone.png");
  background-position: 1px 4px;
  margin-top: -11px;
}

.information__text-mail {
  background-image: url("assets/img/icons/mail.png");
  background-position: 0px 8px;
  margin-top: -12px;
}

.information__text-location,
.information__text-phone,
.information__text-mail {
  background-repeat: no-repeat;
  padding-left: 23px;
}

.information__button {
  width: 100%;
  font-size: 1.6rem;
  height: 38px;
  border: 0;
  border-radius: 5px;
  color: #2d303a;
  font-weight: 700;
  background-color: #f2f2f2;
}

.information__button:hover {
  background-color: #d6564f;
  color: #f48c8f;
  cursor: pointer;
}

.horizontal-line {
  height: 6px;
  width: 100%;
}
/* End Section contacts */
.contacts__horizontal-line {
  background-color: #ea676b;
}
/* Start Footer */
.footer {
  height: 76px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-text {
  font-family: "Myriad Pro Regular", Helvetica, "sans-serif";
  font-size: 1.2rem;
  margin-left: 43.3px;
  letter-spacing: 0.2px;
}

.footer__social-networks--wrapper {
  display: flex;
  margin-right: 39px;
}

.footer__social-networks--facebook {
  background-image: url("assets/img/social_networks/facebook.png");
}

.footer__social-networks--google {
  background-image: url("assets/img/social_networks/google+.png");
}

.footer__social-networks--twitter {
  background-image: url("assets/img/social_networks/twitter.png");
}

.footer__social-networks--linkedin {
  background-image: url("assets/img/social_networks/linkedin.png");
}

.footer__social-networks {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 6px;

  border: #878da9 solid 1px;
  border-radius: 50%;
}

.footer__social-networks:last-child {
  margin-right: 0;
}
/* End Footer */