@font-face{
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
  padding: 0 40px 0 40px;
  background-color: #2d303a;
  min-height: 89px;

  font-weight: 700;
}

.header__logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: -1px;
  margin-top: 18px;
  letter-spacing: -0.2px;
}

.header__text_color {
  color: red;
}

.nav {
  width: 380px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: -31px;
  margin-top: 19px;
  letter-spacing: -0.2px;
}

.nav__item {
  font-size: 1.2rem;
}

.nav__item:hover {
  color: #f06c64;
}

.nav__link, .header__link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.horizontal-line {
  height: 6px;
  width: 100%;
}

.header__horizontal-line {
  background-color: #323746;
}

/* Section slider */
.slider{
  background-color: #f06c64;
  min-height: 594px;
  padding: 0 40px 0 40px;
}

.slider__heading-hidden {
  font-size: 0;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}

.slider__arrow-left {
  margin-left: 2px;
  margin-top: 4px;
}

.vertical-phone {
  height: 481px;
  width: 240px;
  position: relative;
  margin: 0 18px 0 0;
}

.vertical-phone__shadow {
  background-image: url("assets/img/phone/vertical-shadow.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.vertical-phone__case {
  background-image: url("assets/img/phone/phone-vertical.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.vertical-phone__background {
  background-image: url("assets/img/phone/bgc-vertical-phone.jpg");
  position: absolute;
  left: 14px;
  top: 65px;
  height: 333px;
  width: 188px;
  background-position: 565px -135px;
  z-index: 3;
}

.horizontal-phone {
  width: 481px;
  height: 240px;
  position: relative;
  margin: -3px -3px -2px 1px;
}

.horizontal-phone__shadow {
  background-image: url("assets/img/phone/horizontal-shadow.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.horizontal-phone__case {
  background-image: url("assets/img/phone/phone-horizontal.png");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.horizontal-phone__background {
  background-image: url("assets/img/phone/bgc-horizontal-phone.jpg");
  position: absolute;
  top: 14px;
  left: 60px;
  width: 333px;
  height: 188px;
  background-position: 454px -118px;
  z-index: 3;
}

.slider__arrow-right {
  margin-top: 3px;
  margin-left: 5px;
}

.slider__horizontal-line {
  background-color: #ea676b;
}

.slider__arrow__image:hover {
  filter: hue-rotate(50deg);
  cursor: pointer;
}

/* Section Services */

.services {
  min-height: 494px;
  background-color: #f2f2f2;
  padding: 0 40px;
  color: #878da9;
}

.services__header {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  color: #666d89;
  padding-top: 59px;
}

.services__text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 18px;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.services__wrapper:nth-child(3n) {
  margin-right: 0;
}

.services__advantage {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 96px;
  margin-right: 38px;
  padding-top: 27px;
}

.services__advantage:nth-child(3n) {
  margin-right: 0;
}

.services__image {
  height: 59px;
  width: auto;
}

.services__description {
  width: 220px;
  font-size: 1.2rem;
  margin-left: 22px;
}

.description__header {
  margin-top: 0px;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 0.7;
  letter-spacing: -0.2px;
}

.description__text {
  line-height: 1.6;
  text-align: justify;
  letter-spacing: 1px;
  font-weight: 300;
}

.services__horizontal-line {
  background-color: #fff;
}