@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #666d89;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.portfolio {
  height: 864px;
  background-color: #2d303a;
  padding: 0 40px;
}

.portfolio__header {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  padding-top: 61px;
}

.portfolio__text {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 24px;
  margin-bottom: 16px;
}

.portfolio__list {
  display: flex;
  justify-content: left;
  font-size: 1.2rem;
  padding-left: 0;
  font-weight: 400;
  list-style: none;
}

.portfolio__item-tags {
  border: 1px solid #666d89;
  border-radius: 5px;
  margin-right: 11.5px;
  padding: 5px 6px;
  line-height: 0.9;
  letter-spacing: -0.1px;
}

.portfolio__item-tags:last-child {
  margin-right: 0;
}

.portfolio__item-tags:hover{
  color: #fff;
  border-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.portfolio__works {
  max-height: 601px;
  display: grid;
  grid-template-rows: repeat(3, minmax(100px, 187px));
  grid-template-columns: repeat(4, minmax(100px, 220px));
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  margin-top: 19px;
}

.portfolio__design {
  background-color: #464b5e;
}

.portfolio__design:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  transition: 1s;
}

.horizontal-line {
  height: 6px;
  width: 100%;
}

.portfolio__horizontal-line {
  background-color: #323746;
}

/* Section about-us */
.about-us {
  background-color: #f2f2f2;
  padding: 0 40px;
  height: 728px;
}

.about-us__header {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  padding-top: 60px;
}

.about-us__text {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 19px;
  margin-bottom: 45px;
  line-height: 1.7;
  letter-spacing: 0px;
  text-align: justify;
}

.about-us__peoples {
  display: flex;
  justify-content: space-between;
}

.profile {
  max-width: 300px;
  height: auto;
}

.profile__name {
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 14px;
  letter-spacing: -0.2px;
}

.profile__description {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.3px;
  line-height: 1.6;
  margin-top: -7.2px;
  word-spacing: 1.8px;
}

.social-networks__list {
  list-style: none;
  display: flex;
  justify-content: left;
  align-self: center;
  margin-top: 25px;
  padding: 0;
}

.social-networks__item {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #666d89;
  border-radius: 50%;
  margin-right: 8.1px;

}

.social-networks__item:hover {
  transform: translateY(-1px);
  transition: 0.5s;
}

.social-networks__item:hover {
  filter: brightness(0);
  cursor: pointer;
}

.social-networks__item-facebook {
background-image: url("assets/img/social_networks/facebook.png");
}

.social-networks__item-google {
background-image: url("assets/img/social_networks/google+.png");
}

.social-networks__item-twitter {
background-image: url("assets/img/social_networks/twitter.png");
}

.social-networks__item-linkedin {
background-image: url("assets/img/social_networks/linkedin.png");
}

.about-us__horizontal-line {
background-color: #fff;
}